/* 主题色 */

$primary: #2ED095; /*绿色*/
$light-primary: #edfef7; /*绿色*/
$orange: #F3864B;
$light-orange: #ffd99f;
$striking: #F31919;

$font-c: #444; /*字体颜色*/
$title-col: #505050; /*标题颜色*/
$gray: #e4e7ed; /*灰色边框*/
$gray-font: #A0A0A0; /*灰色文字*/
$gray-bg: #F2F4FC; /*灰色背景*/
$light-green: #edfef7; /*浅绿*/
$head-bg: #464c5b; /*顶部背景色s*/
$light-border: #ebebeb;

$tabs-item1: #66abdc;
$tabs-item2: #efa63f;
$tabs-item3: #2ed095;

/* 布局 */
$datum-length: 8px;













